{% extends 'base.html' %}

{% block head %}
<title>Bank of Bridge update</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Change Amount</h1>
    <input type="image" src="{{ url_for('static', filename='money.jpeg') }}">
    <h2 style= "text-align: center">Current Amount of {{task.content}}'s Account is ${{task.amount}}</h2>


    <div class="form" style= "text-align: center;">
        <form action="/update/{{task.id}}" method="POST">
            <input type="text" name="amount" id="amount" >
            <input type="submit" value="Add Money">
        
        </form>
        <br>
        <br>
        <form action="/reduce/{{task.id}}" method="POST">
            <input type="text" name="amount" id="amount" >
            <input type="submit" value="Subtract">
        
        </form>
    </div>
</div>
{% endblock %}